# ETL Processes
Use this notebook to develop the ETL process for each of your tables before completing the `etl.py` file to load the whole datasets.

In [1]:
import os
import glob
import psycopg2
import pandas as pd
from sql_queries import *

In [2]:
conn = psycopg2.connect("host=127.0.0.1 dbname=sparkifydb user=student password=student")
cur = conn.cursor()

In [3]:
def get_files(filepath):
    all_files = []
    for root, dirs, files in os.walk(filepath):
        files = glob.glob(os.path.join(root,'*.json'))
        for f in files :
            all_files.append(os.path.abspath(f))
    
    return all_files

# Process `song_data`
In this first part, you'll perform ETL on the first dataset, `song_data`, to create the `songs` and `artists` dimensional tables.

Let's perform ETL on a single song file and load a single record into each table to start.
- Use the `get_files` function provided above to get a list of all song JSON files in `data/song_data`
- Select the first song in this list
- Read the song file and view the data

In [4]:
song_files = get_files('data/song_data')

In [5]:
filepath = song_files[0]
filepath

'/home/workspace/data/song_data/A/B/C/TRABCRU128F423F449.json'

In [6]:
df = pd.read_json(filepath, typ='series')
df

num_songs                            1
artist_id           AR8IEZO1187B99055E
artist_latitude                   None
artist_longitude                  None
artist_location
artist_name               Marc Shaiman
song_id             SOINLJW12A8C13314C
title                    City Slickers
duration                       149.864
year                              2008
dtype: object

## #1: `songs` Table
#### Extract Data for Songs Table
- Select columns for song ID, title, artist ID, year, and duration
- Use `df.values` to select just the values from the dataframe
- Index to select the first (only) record in the dataframe
- Convert the array to a list and set it to `song_data`

In [7]:
song_data = df[['song_id','title','artist_id', 'year', 'duration']]
song_data_values = song_data.values
song_data_values

array(['SOINLJW12A8C13314C', 'City Slickers', 'AR8IEZO1187B99055E', 2008,
       149.86404], dtype=object)

In [8]:
song_data = song_data_values.tolist()
song_data

['SOINLJW12A8C13314C', 'City Slickers', 'AR8IEZO1187B99055E', 2008, 149.86404]

#### Insert Record into Song Table
Implement the `song_table_insert` query in `sql_queries.py` and run the cell below to insert a record for this song into the `songs` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `songs` table in the sparkify database.

In [9]:
cur.execute(song_table_insert, song_data)
conn.commit()

Run `test.ipynb` to see if you've successfully added a record to this table.

## #2: `artists` Table
#### Extract Data for Artists Table
- Select columns for artist ID, name, location, latitude, and longitude
- Use `df.values` to select just the values from the dataframe
- Index to select the first (only) record in the dataframe
- Convert the array to a list and set it to `artist_data`

In [10]:
artist_data = df[['artist_id','artist_name','artist_location', 'artist_latitude', 'artist_longitude']]
artist_data

artist_id           AR8IEZO1187B99055E
artist_name               Marc Shaiman
artist_location
artist_latitude                   None
artist_longitude                  None
dtype: object

In [11]:
artist_data_values = artist_data.values
artist_data = artist_data_values.tolist()
artist_data

['AR8IEZO1187B99055E', 'Marc Shaiman', '', None, None]

#### Insert Record into Artist Table
Implement the `artist_table_insert` query in `sql_queries.py` and run the cell below to insert a record for this song's artist into the `artists` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `artists` table in the sparkify database.

In [12]:
cur.execute(artist_table_insert, artist_data)
conn.commit()

Run `test.ipynb` to see if you've successfully added a record to this table.

# Process `log_data`
In this part, you'll perform ETL on the second dataset, `log_data`, to create the `time` and `users` dimensional tables, as well as the `songplays` fact table.

Let's perform ETL on a single log file and load a single record into each table.
- Use the `get_files` function provided above to get a list of all log JSON files in `data/log_data`
- Select the first log file in this list
- Read the log file and view the data

In [13]:
log_files = get_files('data/log_data')

In [14]:
filepath = log_files[0]
filepath

'/home/workspace/data/log_data/2018/11/2018-11-29-events.json'

In [15]:
df = pd.read_json(filepath,lines=True)
df.head()

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,Sydney Youngblood,Logged In,Jacob,M,53,Klein,238.07955,paid,"Tampa-St. Petersburg-Clearwater, FL",PUT,NextSong,1.540558e+12,954,Ain't No Sunshine,200,1543449657796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",73
1,Gang Starr,Logged In,Layla,F,88,Griffin,151.92771,paid,"Lake Havasu City-Kingman, AZ",PUT,NextSong,1.541057e+12,984,My Advice 2 You (Explicit),200,1543449690796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",24
2,3OH!3,Logged In,Layla,F,89,Griffin,192.52200,paid,"Lake Havasu City-Kingman, AZ",PUT,NextSong,1.541057e+12,984,My First Kiss (Feat. Ke$ha) [Album Version],200,1543449841796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",24
3,RÃÂ¶yksopp,Logged In,Jacob,M,54,Klein,369.81506,paid,"Tampa-St. Petersburg-Clearwater, FL",PUT,NextSong,1.540558e+12,954,The Girl and The Robot,200,1543449895796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",73
4,Kajagoogoo,Logged In,Layla,F,90,Griffin,223.55546,paid,"Lake Havasu City-Kingman, AZ",PUT,NextSong,1.541057e+12,984,Too Shy,200,1543450033796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",24

## #3: `time` Table
#### Extract Data for Time Table
- Filter records by `NextSong` action
- Convert the `ts` timestamp column to datetime
  - Hint: the current timestamp is in milliseconds
- Extract the timestamp, hour, day, week of year, month, year, and weekday from the `ts` column and set `time_data` to a list containing these values in order
  - Hint: use pandas' [`dt` attribute](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.dt.html) to access easily datetimelike properties.
- Specify labels for these columns and set to `column_labels`
- Create a dataframe, `time_df,` containing the time data for this file by combining `column_labels` and `time_data` into a dictionary and converting this into a dataframe

In [16]:
df = df[df['page'] == 'NextSong']
df.head(2)

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,Sydney Youngblood,Logged In,Jacob,M,53,Klein,238.07955,paid,"Tampa-St. Petersburg-Clearwater, FL",PUT,NextSong,1.540558e+12,954,Ain't No Sunshine,200,1543449657796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",73
1,Gang Starr,Logged In,Layla,F,88,Griffin,151.92771,paid,"Lake Havasu City-Kingman, AZ",PUT,NextSong,1.541057e+12,984,My Advice 2 You (Explicit),200,1543449690796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",24

In [17]:
t = pd.to_datetime(df['ts'],unit='ms')
t.head(2)

0   2018-11-29 00:00:57.796
1   2018-11-29 00:01:30.796
Name: ts, dtype: datetime64[ns]

In [18]:
time_data = (t,t.dt.hour,t.dt.day,t.dt.weekofyear,t.dt.month,t.dt.year,t.dt.weekday)
column_labels = ('ts', 'hour', 'day', 'week of year', 'month', 'year', 'weekday')

In [19]:
dictTdata = dict(zip(column_labels, time_data))
time_df = pd.DataFrame(dictTdata)
time_df.head(2)

                       ts  hour  day  week of year  month  year  weekday
0 2018-11-29 00:00:57.796     0   29            48     11  2018        3
1 2018-11-29 00:01:30.796     0   29            48     11  2018        3

#### Insert Records into Time Table
Implement the `time_table_insert` query in `sql_queries.py` and run the cell below to insert records for the timestamps in this log file into the `time` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `time` table in the sparkify database.

In [20]:
for i, row in time_df.iterrows():
    cur.execute(time_table_insert, list(row))
    conn.commit()

Run `test.ipynb` to see if you've successfully added records to this table.

## #4: `users` Table
#### Extract Data for Users Table
- Select columns for user ID, first name, last name, gender and level and set to `user_df`

In [21]:
user_df = df[['userId', 'firstName', 'lastName', 'gender', 'level']]
user_df.head(2)

  userId firstName lastName gender level
0     73     Jacob    Klein      M  paid
1     24     Layla  Griffin      F  paid

#### Insert Records into Users Table
Implement the `user_table_insert` query in `sql_queries.py` and run the cell below to insert records for the users in this log file into the `users` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `users` table in the sparkify database.

In [22]:
for i, row in user_df.iterrows():
    cur.execute(user_table_insert, row)
    conn.commit()

Run `test.ipynb` to see if you've successfully added records to this table.

## #5: `songplays` Table
#### Extract Data and Songplays Table
This one is a little more complicated since information from the songs table, artists table, and original log file are all needed for the `songplays` table. Since the log file does not specify an ID for either the song or the artist, you'll need to get the song ID and artist ID by querying the songs and artists tables to find matches based on song title, artist name, and song duration time.
- Implement the `song_select` query in `sql_queries.py` to find the song ID and artist ID based on the title, artist name, and duration of a song.
- Select the timestamp, user ID, level, song ID, artist ID, session ID, location, and user agent and set to `songplay_data`

#### Insert Records into Songplays Table
- Implement the `songplay_table_insert` query and run the cell below to insert records for the songplay actions in this log file into the `songplays` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `songplays` table in the sparkify database.

In [23]:
df.head(2)

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,Sydney Youngblood,Logged In,Jacob,M,53,Klein,238.07955,paid,"Tampa-St. Petersburg-Clearwater, FL",PUT,NextSong,1.540558e+12,954,Ain't No Sunshine,200,1543449657796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",73
1,Gang Starr,Logged In,Layla,F,88,Griffin,151.92771,paid,"Lake Havasu City-Kingman, AZ",PUT,NextSong,1.541057e+12,984,My Advice 2 You (Explicit),200,1543449690796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",24

In [24]:
df['tsTwo'] = pd.to_datetime(df['ts'],unit='ms')

In [31]:
for index, row in df.iterrows():

    # get songid and artistid from song and artist tables
    cur.execute(song_select, (row.song, row.artist, row.length))
    results = cur.fetchone()
    if results:
        songid, artistid = results
    else:
        songid, artistid = None, None

    # insert songplay record
    songplay_data = (row.tsTwo, row.userId, row.level, songid, artistid, row.sessionId, row.location, row.userAgent)
    cur.execute(songplay_table_insert, songplay_data)
    conn.commit()

Sydney Youngblood
Gang Starr
3OH!3
RÃÂ¶yksopp
Kajagoogoo
The Jimmy Castor Bunch
Ministry
Bouncing Souls
Tegan And Sara
Silverchair
Enigma
Anis
Seal
UNKLE Feat. Josh Homme
Dwight Yoakam
Elastica
Capone-N-Noreaga
Morris Day
Foo Fighters
Olive
Olle Adolphson
Streetlight Manifesto
Frank Reyes
Andres Calamaro
Zero 7
Mark Ronson featuring Tiggers
Keith Sweat
Wakey!Wakey!
The Mercury Program
Kid Cudi / Kanye West / Common
Nekromantix
J. Karjalainen & Mustat Lasit
Matt Wertz
Insane Clown Posse
Thin Lizzy
Crystal Castles
The Prodigy
Kid Cudi / Kanye West / Common
Kim Carnes
The Velvet Underground
Katie Melua
Cedell Davis
Frou Frou
Justin Timberlake
Michael BublÃÂ©
Bill Withers
Cut Copy
School Of Seven Bells
Rick Ross / T-Pain
Keri Hilson / Lil Wayne
Cute Is What We Aim For
Los AutÃÂ©nticos Decadentes
June Carter Cash;Johnny Cash
I Set My Friends On Fire
King Cobb Steelie
David Bowie
J Dilla
Hot Hot Heat
Norther
Postal Service
311
Jonas Brothers
Platero Y Tu
Martina McBride
Ben Folds Five
Seine
Shinedown
Iva
Cathy Davey
Jorge Reyes Valencia
Sonic Youth
John Mayer
Jason Mraz
Daft Punk
Flyleaf
Flight Of The Conchords
Tub Ring
Aesop Rock
Two Door Cinema Club
Leftover Crack
Tiny Vipers
Miley Cyrus
Foolish Things
Justin Bieber
Jarabe De Palo
Kings Of Leon
Clarence Carter
Purple Ribbon All-Stars feat. Big Boi
Hannah Montana
Iyaz
Plastilina Mosh
Common
Chris Brown
iio
Eric B. & Rakim
Carla Thomas
Five Finger Death Punch
Sting
Chiodos
Dion & The Belmonts
T.I.
The Black Keys
Bon Iver
OneRepublic
Cameo
Mos Def / Slick Rick
HAMMERFALL
Plies
Slaid Cleaves
Todd Barry
Taylor Swift
Minnie Riperton
Flying Lotus
Muse
Edenbridge
Frank Ifield
Dwight Yoakam
Jay-Z
Angels and Airwaves
Stone Sour
Dwight Yoakam
The Airborne Toxic Event
3 Doors Down
Hazmat Modine
OneRepublic
Liz Phair
Nickelback
Massive Attack
Madonna
Sick Puppies
Pixies
Andres Calamaro
Aesop Rock
The Subways
Enya
P!nk
JosÃÂ© Gonzalez
Passion
The Cat Empire
Mariah Carey
Restiform Bodies
Alice Deejay
Interpol
Usher featuring will.i.am
Lupe Fiasco feat. Matthew Santos
Los AutÃÂ©nticos Decadentes
Brand New Disaster
Shinedown
Cocorosie
LegiÃÂ£o Urbana
Cameo
Atmosphere
Matthew Good
The Avett Brothers
James Newton Howard
Lily Allen
Kings Of Leon
Eric B. & Rakim
Eminem
David Gray
Sade
BeyoncÃÂ© feat. Jay-Z
Kato
Wise Intelligent
El Arrebato
The Strokes
50 Cent
Dorsey Burnette
America
Mesa (Portuguese Group)
Alaska Y Dinarama
Rammstein
Damien Rice
Vittorio Lue
Scissor Sisters
The Coffee Club Orchestra
Eagle-Eye Cherry
Curtis Mayfield
Russian Circles
Casiotone For The Painfully Alone
Ron Carter
Metallica
Captain Sensible
Renato Carosone
Tub Ring
Escape The Fate
Yael NaÃÂ¯m
Radiohead
Death Cab for Cutie
New Order
Dwight Yoakam
Fukkk Offf
Slipknot
Slaves To Gravity
Kings Of Leon
Barry Tuckwell/Academy of St Martin-in-the-Fields/Sir Neville Marriner
Amos Lee
Duncan Dhu
Reel Big Fish
Amon Amarth
John Mayer
The 69 Eyes
Ladytron
Leonard Cohen
Bright Eyes
Gym Class Heroes
Beverley Craven
Masta Killa
Andre Hazes
Beirut
Tyrone Wells
Melanie
Jimmy Eat World
Blackstreet
Omara Portuondo
Jack Johnson
Melody Gardot
Charttraxx Karaoke
Grant Lee Buffalo
Radiohead
Madeleine Peyroux
Bon Jovi
James Taylor
Jesse Cook
The Black Keys
Radiohead
Randy Crawford
Randy Crawford
Dr. Alban
Two Door Cinema Club
The Avett Brothers
The Bravery
Greg Dulli
Guns N' Roses
Major Organ And The Adding Machine
RJD2
Fatback
Secos And Molhados
Marc Almond
The Tallest Man On Earth
Pavement
Kanye West
Against Me!
Rah Digga
Pat Metheny Group
Harmonia
David Lee Roth
Michael Cretu
Haloo Helsinki!
Chali 2na
Radiohead
Andre Hazes
Rise Against
Sepultura
Screaming Trees
Spencer Davis Group
Lionel Richie
Skinlab
Larry Sparks
Eastmountainsouth
Bon Jovi
Diam's
Porcupine Tree
Blackfield
Kate Bush
Clinic
Muse
Shakira
Jellyfish
The Verve
Toro Y Moi
Simon Harris
Linkin Park
Michael W. Smith
Underworld
Nickelback
Jackson Do Pandeiro
John Mayer
Triumvirat
Hausmylly
Thousand Foot Krutch
Enya
Billie The Vision & The Dancers
Claudio Minore
Charttraxx Karaoke
The Radio Dept.
Wilco
O-Zone
Adam Lambert
Mission Of Burma
Danity Kane
Radiohead
Fightstar
Hoobastank
Bright Eyes
Procol Harum
Radiohead
Alliance Ethnik
Muse
Steps
John Mayer
Kings Of Leon
David Gray
King Stitt
Tub Ring
Era
+ / - {Plus/Minus}
Crystal Castles
The Whitest Boy Alive
The White Stripes
Furthermore
Eminem / Bizarre
Florence + The Machine
Soda Stereo
Taylor Swift
Pearl Jam
The 2 Live Crew
311
Light Of The World

Run `test.ipynb` to see if you've successfully added records to this table.

# Close Connection to Sparkify Database

In [ ]:
conn.close()

# Implement `etl.py`
Use what you've completed in this notebook to implement `etl.py`.